.root {
    background: #ffffff;
    flex-grow: 1;
    color: #565656;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    list-style: none;
}

.firstLayer {
    cursor: pointer;
    list-style: none;
}

.secondLayer {
    cursor: pointer;
    margin: 10px 30px;
}

.thirdLayer {
    cursor: pointer;
    margin: 10px 20px;
}
